<div *ngIf="question$ | async as question" class="image-container">
  <img class="image" [src]="getBackgroundImage(question$ | async)" />
  <div class="buttons-container">
    <button class="action-button" (click)="goBack()">Atgal</button>
    <mat-form-field *ngIf="question.answer" [ngClass]="{'ceasars-input': true, 'ceasars-input--error': answerSubmitted && answerError, 'ceasars-input--success': answerSubmitted && answerSuccess  }">
      <mat-label>Atsakymas</mat-label>
      <input  matInput  [(ngModel)]="answer" (ngModelChange)="answerChanges($event, question)" >
    </mat-form-field>
    <button  class="action-button" (click)="completeQuestion(question)">Atsakymas</button>
  </div>
</div>
